.story-carousel {
    .slide-indicators {
        position: absolute;
        z-index: 999;
        display: flex;

        &.center {
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
        &.vcenter {
            left: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
        }
        &.left {
            bottom: 20px;
            left: 6%;
        }
        &.right {
            bottom: 20px;
            right: 6%;
        }

        .slide-indicator-icon {
            display: flex;
            width: 5px;
            height: 5px;
            margin: .2rem;
            cursor: pointer;
            border-radius: 50%;
            background-color: rgba( 0, 0, 0, .2);
        }

        &.vcenter {
            flex-direction: column;
        }

        &.center, &.left, &.right {
            flex-direction: row;
        }

        .slide-indicator-active {
            background-color: rgba( 255, 255, 255, .2);
        }
    }

    &__slide {
        height: 200px;
        font-size: 18px;
        color: #fff;
    }

    &--vertical {
        .story-carousel__slide {
            height: 100%;
            width: 100%;
        }
    }

    &--colors {
        .story-carousel__slide {
            &:nth-child(n+1) {
                background: #2e5c8a;
            }

            &:nth-child(2n+1) {
                background: #336699;
            }
        }
    }

    &--multiple {
        .story-carousel__slide {
            flex: 0 0 100%;

            @media (min-width: 500px) {
                flex: 0 0 50%;
            }

            @media (min-width: 768px) {
                flex: 0 0 33.33%;
            }

            @media (min-width: 1024px) {
                flex: 0 0 25%;
            }

            @media (min-width: 1280px) and (max-width: 1440px) {
                flex: 0 0 20%;
            }
        }
    }

    &--images {
        .story-carousel__slide {
            img {
                height: 200px;
                width: auto;
            }
        }
    }
}
